<nav>
    <div class="holder">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/novedades">Novedades</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/servicios">Servicios</a></li>
        </ul>
    </div>
</nav>