<section class="contacto holder">
    <div class="columna contacto">
        <h2>Complete el siguiente formulario</h2>
        <form class="formulario">
            <p>
                <label>Nombre</label>
                <input type="text" name="nombre" />
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" />
            </p>
            <p>
                <label>Telefono</label>
                <input type="text" name="telefono" />
            </p>
            <p>
                <label>Comentario</label>
                <textarea name="mensaje"></textarea>
            </p>
            <p>
                <input type="submit" value="Enviar" />
            </p>
        </form>
    </div>
    <div class="columna datos">
        <h2>Otras vias de contacto</h2>
        <p>Tambien puede contactarse con nosotros usando los siguientes medios: </p>
        <ul>
            <li>Teléfono</li>
            <li>Email: </li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Skype</li>
            <li>Instagram</li>
        </ul>
    </div>
</section>