<section class="holder">
    <h2>Servicios</h2>
    <div class="servicios container">
        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0 sevicio">
                <div class="col-2 servicio-img">
                    <img src="images/servicios/ferroviario.jpg" class="img-fluid rounded-center " alt="Ferroviario">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transporte Ferroviario</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0 sevicio">
                <div class="col-2 servicio-img">
                    <img src="images/servicios/maritimo.jpg" class="img-fluid rounded-center " alt="Maritimo">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transporte Maritimo</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0 sevicio">
                <div class="col-2 servicio-img">
                    <img src="images/servicios/aereo.jpg" class="img-fluid rounded-center " alt="Aereo">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transporte Aereo</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>